<div class="container-lg budgetList d-flex flex-column w-75">
    <div class="d-flex justify-content-between">
        <h3>Pressupostos en curso</h3>
        <div class="budgetList-menu d-flex">
            <div class="budgetList-search me-3">
                <input type="text" placeholder="Search">
                <fa-icon [icon]="faMagnifyingGlass" class="contact-icon"></fa-icon>
            </div>
            <div class="d-flex gap-3">
                <button class="budgetList-btn" (click)="sortDate()">Data</button>
                <button class="budgetList-btn" (click)="sortPreu()">Import</button>
                <button class="budgetList-btn" (click)="sortNom()">Nom</button>
            </div>
        </div>
    </div>
    @for(client of clients; track $index) {
    <div class="budgetList-clients d-flex container justify-content-between">
        <div class="container d-flex justify-content-between w-75">
            <div class="d-flex flex-column">
                <h4>{{client.name}}</h4>
                <span>{{client.email}}</span>
                <span>{{client.telephone}}</span>
            </div>
            <div>
                <h4>Serveis contractats</h4>
                <ul class="d-flex flex-column">
                    @for(service of client.services; track $index) {
                    @if(service !== "Web") {
                    <li>{{service}}</li>
                    } @else {
                    <li>{{service}} ({{client.nPages}} pàginas, {{client.nLanguages}} llenguatges)</li>
                    }
                    }
                </ul>
            </div>
            <div>
                <h4>Total</h4>
                <span>{{client.total}}€</span>
            </div>
        </div>
    </div>
    }

</div>