@for ( work of works; track $index) {
<div class="container-lg services">
    <div class="container d-flex align-items-center justify-content-between w-75">
        <div>
            <h3>{{work.title}}</h3>
            <p>{{work.description}}</p>
        </div>
        <div>
            <h2><span>{{work.price}}</span>€</h2>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Afegir
            </label>
        </div>
    </div>
</div>
}

<div class="container-lg services-preu">
    <div class="container  d-flex  justify-content-end align-items-center">
        <h3 class="services-preu--heading">Preu pressuposat:</h3>
        <p class="services-preu--number"><span>0</span>€</p>
    </div>

</div>