<!-- Modal -->
<div class="modal fade" id="webpagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Número de pàgines</h5>
        </div>
        <div class="modal-body text-center">
         <p>Afegeix el número de pàginas que tindrà el teu project</p> 
         <p>El cost de cada pàgina és de 30€</p>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="languagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
            <h5 class="modal-title " id="exampleModalLabel">Número de pàgines</h5>
          </div>       
        <div class="modal-body text-center">
            <p>Afegeix el número de pàginas que tindrà el teu project</p> 
         <p>El cost de cada pàgina és de 30€</p>          
        </div>
      </div>
    </div>
  </div>
