// reset

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-bottom: 0 !important;
}