// reset

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}


a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

.font-24 {
    font-size: 24px;
    font-weight: bold;
}

.font-16 {
    font-size: 16px;
    font-weight: bold;
}

.font-14 {
    font-size: 14px;
}

.border-line {
    border-bottom: 1px dashed gray;
    margin: 50px auto;
    max-width: 960px !important;
}

.invalid {
    color: red;
    // padding-top: 20px;
    font-weight: 400;
    // margin-top: 20px;
    margin: 0 auto;
    // padding-top: 20px;
    font-size: 14px;
}

.container,
.container-lg {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.contact-invalid {
    color: red;
    font-size: 10px;
    // padding-top: 20px;
}

.color-gray {
    color: rgb(202, 202, 202)
}

// .input-validation {
//     display: none;
// }

// .visibility {
//     display: block;
// }

// .form-contact {
//     height: 100px;
// }